Promote/Podfile
Promote/Podfile.lock
Promote/Pods/Alamofire/README.md
Promote/Pods/Alamofire/Source/SessionDelegate.swift
Promote/Pods/Alamofire/Source/SessionManager.swift
Promote/Pods/Cartography/README.md
Promote/Pods/Manifest.lock
Promote/Pods/Pods.xcodeproj/project.pbxproj
Promote/Pods/Pods.xcodeproj/xcuserdata/bava.xcuserdatad/xcschemes/Pods-Promote.xcscheme
Promote/Pods/Pods.xcodeproj/xcuserdata/bava.xcuserdatad/xcschemes/Realm.xcscheme
Promote/Pods/Pods.xcodeproj/xcuserdata/bava.xcuserdatad/xcschemes/RealmSwift.xcscheme
Promote/Pods/Pods.xcodeproj/xcuserdata/bava.xcuserdatad/xcschemes/RxCocoa.xcscheme
Promote/Pods/Pods.xcodeproj/xcuserdata/bava.xcuserdatad/xcschemes/RxSwift.xcscheme
Promote/Pods/Realm/LICENSE
Promote/Pods/Realm/README.md
Promote/Pods/Realm/Realm/NSError+RLMSync.m
Promote/Pods/Realm/Realm/ObjectStore/src/binding_callback_thread_observer.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/collection_notifications.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/apple/external_commit_helper.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/apple/keychain_helper.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/collection_change_builder.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/collection_notifier.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/list_notifier.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/object_notifier.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/primitive_list_notifier.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/realm_coordinator.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/results_notifier.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/transact_log_handler.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/impl/weak_realm_notifier.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/index_set.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/list.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/object.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/object_schema.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/object_store.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/placeholder.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/results.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/schema.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/shared_realm.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/impl/apple/network_reachability_observer.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/impl/apple/system_configuration.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/impl/sync_file.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/impl/sync_metadata.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/impl/work_queue.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/partial_sync.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/sync_config.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/sync_manager.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/sync_permission.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/sync_session.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/sync/sync_user.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/thread_safe_reference.cpp
Promote/Pods/Realm/Realm/ObjectStore/src/util/uuid.cpp
Promote/Pods/Realm/Realm/RLMAccessor.mm
Promote/Pods/Realm/Realm/RLMAnalytics.mm
Promote/Pods/Realm/Realm/RLMArray.mm
Promote/Pods/Realm/Realm/RLMClassInfo.mm
Promote/Pods/Realm/Realm/RLMCollection.mm
Promote/Pods/Realm/Realm/RLMConstants.m
Promote/Pods/Realm/Realm/RLMJSONModels.m
Promote/Pods/Realm/Realm/RLMListBase.mm
Promote/Pods/Realm/Realm/RLMManagedArray.mm
Promote/Pods/Realm/Realm/RLMMigration.mm
Promote/Pods/Realm/Realm/RLMNetworkClient.mm
Promote/Pods/Realm/Realm/RLMObject.mm
Promote/Pods/Realm/Realm/RLMObjectBase.mm
Promote/Pods/Realm/Realm/RLMObjectSchema.mm
Promote/Pods/Realm/Realm/RLMObjectStore.mm
Promote/Pods/Realm/Realm/RLMObservation.mm
Promote/Pods/Realm/Realm/RLMOptionalBase.mm
Promote/Pods/Realm/Realm/RLMPredicateUtil.mm
Promote/Pods/Realm/Realm/RLMProperty.mm
Promote/Pods/Realm/Realm/RLMQueryUtil.mm
Promote/Pods/Realm/Realm/RLMRealm+Sync.mm
Promote/Pods/Realm/Realm/RLMRealm.mm
Promote/Pods/Realm/Realm/RLMRealmConfiguration+Sync.mm
Promote/Pods/Realm/Realm/RLMRealmConfiguration.mm
Promote/Pods/Realm/Realm/RLMRealmUtil.mm
Promote/Pods/Realm/Realm/RLMResults.mm
Promote/Pods/Realm/Realm/RLMSchema.mm
Promote/Pods/Realm/Realm/RLMSwiftSupport.m
Promote/Pods/Realm/Realm/RLMSyncConfiguration.mm
Promote/Pods/Realm/Realm/RLMSyncCredentials.m
Promote/Pods/Realm/Realm/RLMSyncManager.mm
Promote/Pods/Realm/Realm/RLMSyncPermission.mm
Promote/Pods/Realm/Realm/RLMSyncPermissionResults.mm
Promote/Pods/Realm/Realm/RLMSyncSession.mm
Promote/Pods/Realm/Realm/RLMSyncSessionRefreshHandle.mm
Promote/Pods/Realm/Realm/RLMSyncSubscription.mm
Promote/Pods/Realm/Realm/RLMSyncUser.mm
Promote/Pods/Realm/Realm/RLMSyncUtil.mm
Promote/Pods/Realm/Realm/RLMThreadSafeReference.mm
Promote/Pods/Realm/Realm/RLMUpdateChecker.mm
Promote/Pods/Realm/Realm/RLMUtil.mm
Promote/Pods/Realm/Realm/Realm.modulemap
Promote/Pods/Realm/build.sh
Promote/Pods/Realm/core/librealmcore-ios.a
Promote/Pods/Realm/include/NSError+RLMSync.h
Promote/Pods/Realm/include/RLMAccessor.h
Promote/Pods/Realm/include/RLMAccessor.hpp
Promote/Pods/Realm/include/RLMAnalytics.hpp
Promote/Pods/Realm/include/RLMArray.h
Promote/Pods/Realm/include/RLMArray_Private.h
Promote/Pods/Realm/include/RLMArray_Private.hpp
Promote/Pods/Realm/include/RLMClassInfo.hpp
Promote/Pods/Realm/include/RLMCollection.h
Promote/Pods/Realm/include/RLMCollection_Private.h
Promote/Pods/Realm/include/RLMCollection_Private.hpp
Promote/Pods/Realm/include/RLMConstants.h
Promote/Pods/Realm/include/RLMJSONModels.h
Promote/Pods/Realm/include/RLMListBase.h
Promote/Pods/Realm/include/RLMMigration.h
Promote/Pods/Realm/include/RLMMigration_Private.h
Promote/Pods/Realm/include/RLMNetworkClient.h
Promote/Pods/Realm/include/RLMObject.h
Promote/Pods/Realm/include/RLMObjectBase.h
Promote/Pods/Realm/include/RLMObjectBase_Dynamic.h
Promote/Pods/Realm/include/RLMObjectBase_Private.h
Promote/Pods/Realm/include/RLMObjectSchema.h
Promote/Pods/Realm/include/RLMObjectSchema_Private.h
Promote/Pods/Realm/include/RLMObjectSchema_Private.hpp
Promote/Pods/Realm/include/RLMObjectStore.h
Promote/Pods/Realm/include/RLMObject_Private.h
Promote/Pods/Realm/include/RLMObject_Private.hpp
Promote/Pods/Realm/include/RLMObservation.hpp
Promote/Pods/Realm/include/RLMOptionalBase.h
Promote/Pods/Realm/include/RLMPlatform.h
Promote/Pods/Realm/include/RLMPredicateUtil.hpp
